{% extends "base.html.twig" %}

{% block title %}Lista de Exigibilidades{% endblock %}

{% block content %}
    <div class="container-fluid my-4">
        <h1>Lista de Exigibilidades</h1>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endfor %}
        <div class="d-flex justify-content-between align-items-center mb-4">
            <div>
                <a href="{{ path('web_exigibilidade_create') }}" class="btn btn-primary">Adicionar Novo Pagamento</a>
                <a id="export-btn-xml" href="{{ path('web_exigibilidade_export_xml') }}" class="btn btn-secondary">Exportar para XML</a>

            </div>
        </div>

        <div class="row g-3 align-items-center mb-3">
            <div class="col-md-3">
                <label for="filterExercicio" class="form-label">Filtrar por Exercício:</label>
                <select id="filterExercicio" class="form-select">
                    <option value="">Todos</option>
                    {% set anos_unicos = [] %}
                    {% for item in exigibilidades %}
                        {% if item.exercicio not in anos_unicos %}
                            {% set anos_unicos = anos_unicos|merge([item.exercicio]) %}
                        {% endif %}
                    {% endfor %}

                    {% for exercicio in anos_unicos|sort %}
                        <option value="{{ exercicio }}">{{ exercicio }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <label for="filterSemestre" class="form-label">Filtrar por Semestre:</label>
                <select id="filterSemestre" class="form-select">
                    <option value="">Todos</option>
                    <option value="01">1º Semestre</option>
                    <option value="02">2º Semestre</option>
                </select>
            </div>
        </div>


        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <div class="table-responsive">
            <table class="table js-grid w-100">
                <thead class="table-dark">
                <tr>
                    <th>Exercício</th>
                    <th>Semestre</th>
                    <th>Órgão</th>
                    <th>Nº Contrato</th>
                    <th>Credor (CPF/CNPJ)</th>
                    <th>Valor da Contratação</th>
                    <th>Valor do Pagamento</th>
                    <th>Data do Pagamento</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                {% for exigibilidade in exigibilidades %}
                    <tr>
                        <td>{{ exigibilidade.exercicio }}</td>
                        <td>{{ exigibilidade.semestre }}</td>
                        <td>{{ exigibilidade.codOrgao }}</td>
                        <td>{{ exigibilidade.numContrato|trim('0', 'left') }}</td>
                        <td class="text-nowrap">{{ exigibilidade.cpfCnpjCredor }}</td>
                        <td>R$ {{ exigibilidade.valorContratacao|number_format(2, ',', '.') }}</td>
                        <td>R$ {{ exigibilidade.valorPagamento|number_format(2, ',', '.') }}</td>
                        <td>{{ exigibilidade.dataPagamento|date("d/m/Y") }}</td>

                        <td style="min-width: 150px;">
                            <div class="d-flex gap-2">
                                <a href="{{ path('web_exigibilidade_edit', {id: exigibilidade.id}) }}" class="btn btn-sm btn-outline-warning w-100">Editar</a>
                                <a href="#" class="btn btn-sm btn-outline-danger w-100">Deletar</a>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9" class="text-center">Nenhuma exigibilidade cadastrada.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const exportButton = document.getElementById('export-btn-xml');

            if (exportButton) {
                exportButton.addEventListener('click', function(event) {
                    event.preventDefault();

                    const exercicio = document.getElementById('filterExercicio').value;
                    const semestre = document.getElementById('filterSemestre').value;

                    const baseUrl = this.getAttribute('href');

                    const urlComFiltros = `${baseUrl}?exercicio=${exercicio}&semestre=${semestre}`;

                    window.location.href = urlComFiltros;
                });
            }

            const alerts = document.querySelectorAll('.alert-dismissible');

            alerts.forEach(function(alert) {
                setTimeout(function() {
                    new bootstrap.Alert(alert).close();
                }, 3000);
            });
        });
    </script>
{% endblock %}
